html body {
    margin: 0px;
    margin-bottom: 30px;
}

.output-cell-calculated {
    color: #EC8513;
}

.output-call-faulty {
    background-color: #EC8513;
    color: #6A1366;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    border: 1px dotted #6A1366;
    margin: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    box-shadow: 0 0 4px #6A1366;
}

.top {
    border-top: 2px solid #6A1366 !important
}

.bottom {
    border-bottom: 2px solid #6A1366 !important
}

.left {
    border-left: 2px solid #6A1366 !important
}

.right {
    border-right: 2px solid #6A1366 !important
}

#sudoku-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-container h2 {
    text-align: center;
    color: #EC8513;
}

.table-container {
    margin: 0 50px;
}

.button {
    background-color: #EC8513;
    border: 2px solid #EC8513;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #6A1366;
}

.info-box {
    border-left: 5px solid #6A1366;
    /* border-right: 5px solid #6A1366; */
    background-color: #f9bbf7;
    padding: 15px;
    max-width: 250px;
    text-align: center;
}

.center-form {
    text-align: center;
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    input[type='number'] {
        height: 25px;
        width: 25px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1290px) {
    #sudoku-flex {
        flex-direction: column;
        margin: 0 auto;
    }
    .table-container {
        margin: 0 10px;
    }
}

.video-container {
    max-width: 100%;
    text-align: center;
    margin: 0px;
}

.video-container #myVideo {
    max-width: 100%;
}