html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    border: 1px dotted black;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    padding: 0
}

.top {
    border-top: 2px solid black !important
}

.bottom {
    border-bottom: 2px solid black !important
}

.left {
    border-left: 2px solid black !important
}

.right {
    border-right: 2px solid black !important
}

#sudoku-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.table-container h2{
    text-align: center;
}

.table-container{
    margin: 0 50px;
}

.button {
    background-color: #EC8513;
    border: 2px solid #EC8513;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white; 
    color: #6A1366; 
  }